<!DOCTYPE html>
<html lang="en">
<head>
    <link href="files/design.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section id="header">
        <a href="#"><img src="" alt="" height="40px" >TecnoShop </a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Početna</a> </li>
                <li><a href="#">Početna</a> </li>
                <li><a href="#">Početna</a> </li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
        </div>
    </section>

    <section id="hero">
        <h4>Ponuda u Nasoj trgovini</h4>
        <h2>Odlicne cijene</h2>
        <h1>U nasoj Trgovini</h1>
        <p>Ustedite do 40%</p>
        <button>Kupuj sada</button>
    </section>

    <section id="feature" class="selection-p1">
        <div class="fe-box">
            <img src="files/fa-box/dostava1.jfif" width="150px" height="150px">
            <h6>Besplatna Dostava</h6>
        </div>

        <div class="fe-box">
            <img src="files/fa-box/cash.jpg" width="150px" height="150px">
            <h6>Placanje Gotovinom</h6>
        </div>

        <div class="fe-box">
            <img src="files/fa-box/onlinepl.jpg" width="150px" height="150px">
            <h6>Online Placanje</h6>
        </div>

        <div class="fe-box">
            <img src="files/fa-box/garancija.jfif" width="150px" height="150px">
            <h6>5 Godina Garancije</h6>
        </div>

        <div class="fe-box">

            <img src="/files/fa-box/pouzdanost.jpg" width="150px" height="150px">
            <h6>Pouzdanost</h6>
        </div>
    </section>

    <section id="product1" class="selection-p1">
        <h2>Preporučeni Proizvodi</h2>
        <p>Najbolje ocijenjeni proizvodi.</p>
        <div class="pro-contanier">
        <div class="pro">
           <img src="/files/proizvodi/apple-iphone-14-plus-512gb-purple.jpg"></img>
            <div class="des">
                <span>Apple </span>
                <h5>Iphone 14 128 gb</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>1400BAM</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
        </div>
    </section>
</body>
</html>